

:root{
    --fondo: hsl(257, 40%, 49%);
    --boton:#E980E7;
    --title: 'Poppins', sans-serif;
    --text: 'Open Sans', sans-serif;
}

body{
    background-color: var(--fondo);
    background-image: url(/assets/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 100vh;
    margin: 0;   
}
@media screen and (min-width: 768px){
    body{
        background-image: url(/assets/images/bg-desktop.svg);
    }
}
img{
    max-width: 100%;   
}
a{
    text-decoration: none;
}
.container{
    margin: 65px;
}
@media screen and (min-width: 768px){
    .container{
        margin: 55px auto 85px 75px;
    }
    .logo{
        height: 50px;
        object-fit: contain;
    }
}
@media screen and (min-width: 768px) {
    .main{
        display: grid;
        grid-template-columns: 800px 640px;
        /* grid-template-rows: 530px 100px; */
    }
}
.banner{
    margin: 120px 80px;
}
@media screen and (min-width: 768px){
    .banner{
        margin: 0 auto 20px 75px;
        justify-self: self-end;
    }
}
.main__article{
    color: #fff;
    text-align: center;
}
@media screen and (min-width: 768px){
    .main__article{
        text-align: left;
        
    }
}
.main__title{
    font-family: var(--title);
    font-size: 48px;
    margin: 70px 70px 35px;
}
@media screen and (min-width: 768px){
    .main__title{
        font-size: 42px;
        margin: 40px 40px 40px 0;
        margin-bottom: 0;
        margin-left: 40px;
        
    }
}
.main__text{
    font-family: var(--text);
    font-size: 31px;
    margin: -6px 80px 68px 80px;
    font-weight: 400;
    line-height: 3rem;
}
@media screen and (min-width:768px){
    .main__text{
        font-size: 18px;
        line-height: 1.8rem;
        margin: 15px 80px 25px 40px;
    }
}
.button{
    display: inline-block;
    background-color: white;
    color: var(--fondo);
    width: 400px;
    border-radius: 50px;
    font-size: 24px;
    font-family: var(--title);
    padding: 22px;
    margin-top: -20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width:768px){
    .button{
       width: 160px; 
       font-size: 18px;
       text-align: center;
       padding: 14px 20px;
       margin-left: 40px;
       margin-top: -1px;
    }
}
.button:hover{
    background-color: var(--boton);
    color: white;
}
.list{
    margin-top:120px;
    display: flex;
    justify-content: center;
    list-style: none;
    
}
@media screen and (min-width:768px){
    .main__footer{
        grid-column: 1/3;
        height: 100px;
        justify-self: flex-end;
    }
    .list{
        margin-top: 0;
        padding-right: 80px;
    }
}
.list__item{
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
}
@media screen and (min-width:768px){
    .list__item{
        width: 15px;
        height: 15px;
        margin:8px;  
    }
}
i{
    color: white;
    font-size: 28px;    
}
@media screen and (min-width:768px){
    i{
        font-size:16px;
    }
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: white; }